/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* svg {
  fill: #7D7D7E;
}
svg:hover{
  fill: orange;
} */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  /* padding-left: 25%; */
  /* display: flex; */
  align-items: center;
  margin-bottom: 20%;
}
.logo{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding-left: 22%;
  padding-top: 6%;
}
.sidebar .logo-details .logo svg{
  width: 42.47px;
  height: 42.47px;
  line-height: 50px;
  margin-left: 25%;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  text-align: center;
  /* padding-left: 16%; */
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar .logo-details .moto{
  font-size: 11px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo svg{
  width: 42.47px;
  height: 42.47px;
  line-height: 50px;
  margin-left: 0%;
}


.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar.close .logo-details .moto{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  margin-bottom: 10%;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  color: #fff
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
/* ================= */
.sidebar .nav-links li i{
    height: 20px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  /* ======================== */

.sidebar .nav-links li svg{
  height: 20px;
  min-width: 70px;
  text-align: center;
  line-height: 50px;
  fill: #7D7D7E;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar .nav-links li a:hover svg{
  fill: #FF5E5E;
}
.sidebar .nav-links li a:hover{
  border-right: 3px solid #FF5E5E;
  
  color: #fff;
}

.link_name:hover{
  color: #FF5E5E;
}

.sidebar .nav-links li svg.arrow{
  height: 10px;
  min-width: 30px;
  margin-right: 5%;
  fill: none;
  stroke: #7D7D7E;
}


.sidebar .nav-links li.showMenu svg.arrow{
  transform: rotate(-180deg);
  stroke: #FF5E5E;  
}
.sidebar.close .nav-links svg.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 14px;
  font-weight: 500;
  color: #7D7D7E;
  line-height: 30px;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 0px 0px 0px 15px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #7D7D7E;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

/* .sidebar .nav-links li .sub-menu .link_name svg{
  margin-left: 0;
} */

.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  display: flex;
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* background-color: rgb(75, 182, 253); */
}

.home-section .navbar{

  background-color: rgb(75, 182, 253);
}


.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}



/* profile */
.rightContent{
  /* width: 50%; ---- */
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-left: auto;
  padding-right: 5%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.balance{
  padding: 0 40px;
  
}

.profile{
  /* position: absolute; */
  width: 200px;
  height: 50px;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  /* z-index: 1; */
}
/* 
.profilePhoto{
  width: 200px;
  height: 50px;
  background-color: rgb(184, 49, 49);
  padding: 20px;
  margin: 20px 0;
  border-radius: 45px;
} */

.profilePhoto svg{
  height: 40px;
  width: 40px;
}

.profile h1{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

#profileArrow{
  height: 10px;
  min-width: 30px;
  margin-right: 5%;
  fill: none;
  stroke: #7D7D7E;
}



/* dropdown pofile */
/* Dropdown Button */
/* .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  box-sizing: border-box;
  top: 10px;
  right:-20px;
  float: right;
  padding-top: 50px;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: -1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #7D7D7E;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 16px;
  line-height: 30px;
  text-decoration: none;
  display: block;
  
}

.logoutbtn{
  width: 160px;
  height: 48px;
  left: 20px;
  font-weight: 500;
  font-size: 16px;
  /* margin-top: 50px; */
  padding-top: 8px; 
  background: rgba(255, 1, 1, 0.1);
  border-radius: 5px;
}

.logoutbtn svg{
  Width: 18px;
  Height: 20px;
  padding-top: 5px; 
  transition: transform 1s ease-in-out;
}

.logoutbtn:hover svg{
  transform: rotate(360deg);
}

/* .logoutbtn:hover svg{
  transform: rotate(360deg);
  display: inline-block;
} */


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* banner */
.banner{
  display: flex;
  height: 500vh;
  padding: 5% ;
  
  /* margin:0 5%; */
}

.bannerLeft{
  width: 30%;  
  background-color: rgba(45, 37, 160, 1);
  /* margin: 5%; */
  /* margin-left: 2%; */
  
}

.bannerRight{
  width: 70%;
  /* margin-top: 100px; */
  margin-right: 5%;
  background-color: rgb(160, 141, 37); justify-content: space-between;
}




/* Column container */
.row {  
  margin-top: -750px;
  display: flex;
  flex-wrap: wrap;
}


/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: white;
  padding: 20px;
  margin-right: 1%;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  margin-left: 1%;
  /* display: flex; 
  flex-direction: row; */
}

.rightItems{
  flex: 60%;
  background-color: white;
  /* padding: 20px; */
  margin-left: 1%;
  display: flex; 
  flex-direction: row;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 30%;
  padding: 20px;
  margin: 2%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
    margin-top: 500px;
  }
}